.celestia {
  margin: 5px;
  width: 600px;
  height: 250px;
  border: 1px solid #000;
  background-image: url("img/celestia-child.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.celestia.selected {
  background-image: url("img/celestia-grown-up.png");
}
.pinkie {
  margin: 5px;
  width: 600px;
  height: 250px;
  border: 1px solid #000;
  background-image: url("img/pinkie-walking.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.pinkie.selected {
  background-image: url("img/pinkie-smile.png");
}
.rainbow {
  margin: 5px;
  width: 600px;
  height: 250px;
  border: 1px solid #000;
  background-image: url("img/dash-element.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.rainbow.selected {
  background-image: url("img/dash-cool.png");
}
