.pinkie {
  margin: 5px;
  width: 600px;
  height: 250px;
  border: 1px solid #000;
  background-image: url("img/pinkie-walking.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.pinkie.selected {
  background-image: url("img/pinkie-smile.png");
}
