.rainbow
  margin 5px
  width 600px
  height 250px
  border 1px solid #000
  background-image url('img/dash-element.png')
  background-repeat no-repeat
  background-size contain

.rainbow.selected
  background-image url('img/dash-cool.png')
