.celestia {
  margin: 5px;
  width: 600px;
  height: 250px;
  border: 1px solid #000;
  background-image: url("img/celestia-child.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.celestia.selected {
  background-image: url("img/celestia-grown-up.png");
}
